/* @575px */
@media (max-width: 575px) {
  .kem-img {
    display: none;
  }
}

@media (max-width: 764px) {
  .form-font {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  .form-font {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  .bgscreen {
   display: none;
  }
}

@media (min-width: 992px) {
  .mdscreen {
    display: none;
  }
}
