* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, Helvetica, Montserrat;
}

.link-text {
  color: #888;
  font-size: 0.65rem;   
}

.top-img {
  background-color: #D35266;
  height: 30px;
  width: 30px;
}

.zat-img {
  width: 30px;
}

.profile {
  color: #888;
}

.nav-top {
  background-color: #383838;
}

.big-header{
 font-weight: bolder;
 font-size: 30px;
}

.home {
  color: #D35266;
}

.new {
  color: #383838;
}

.categ-tag {
  border-bottom: 1px solid #D35266;
  color: #D35266;
  font-size: 20px;
}

small {
  font-size: 0.65rem;
  font-weight: 500;
}

.footer-list li {
  font-size: 0.9rem;
  list-style-type: none;
}

.low-head {
  color: #888;
  font-size: 20px;
}

.nav-btn {
  background-color: #D35266;
}

.top-caption {
  width: 60px;
  height: 70px;
}

.footer-copyright-text {
  font-size: 0.8rem;
  color: #888;
}

.search-result {
  background-color: #383838;
  color: #888;
}

.tog-bar {
  background-color: #D35266;
  margin-right: 20px;
}

.tog-icon {
  width: 50px;
}

.pro-update {
  font-size: 1.5rem;
  font-weight: bolder;
}

.new-arrive{
  font-size: 1rem;
  color: #888;
}

.hotpro-img {
  width: 279px;
}









